<div class="contenedor">
  <form [formGroup]="adjustProduct" (ngSubmit)="ajustar()">
    <div class="flavors">
      <h3>ajustar sabores</h3>
        <div class="col">
          <input type="text" class="" placeholder="sabor01" formControlName="sabor01">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor02" formControlName="sabor02">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor03" formControlName="sabor03">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor04" formControlName="sabor04">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor05" formControlName="sabor05">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor06" formControlName="sabor06">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor07" formControlName="sabor07">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor08" formControlName="sabor08">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor09" formControlName="sabor09">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor10" formControlName="sabor10">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor11" formControlName="sabor11">
        </div>
        <div class="col">
          <input type="text" class="" placeholder="sabor12" formControlName="sabor12">
        </div>
    </div>
    <div class="mt-3 text-center">
      <button type="text" class="btn btn-secondary btn-lg mr-3" routerLink="/mod">Regresar</button>
      <button type="submit" class="btn btn-dark btn-lg">Aceptar</button>
    </div>
  </form>

</div>
