<div class="contenedor mt-4">
  <div class="card">
    <div class="prod">
      <span class="h5">LISTA DE PRODUCTOS</span>
      <div class="float">
        <button class="btn btn-dark btn-lg" routerLink="/create-product">
          Agregar
        </button>
      </div>
      <br />
      <h5 *ngIf="productos.length == 0" class="mt-5">
        No hay productos agregados
      </h5>
      <div class="options">
        <div class="total">
          <span>Total: {{ total | currency : " " : "symbol" : "3.0" }} </span>
        </div>
        <div>
          <button
            (click)="showDialog()"
            style="
              background-color: green;
              padding: 5px 19px;
              margin-bottom: 12px;
            "
            class="btn btn-success"
          >
            pagar
          </button>
          <p-dialog
            class="modificar-modal"
            header="Detalles del pago:"
            [(visible)]="displayModal"
            [modal]="true"
            [style]="{ width: '50%' }"
            [responsive]="true"
            [dismissableMask]="true"
          >
            <span>Total: ${{ total | currency : " " : "symbol" : "3.0" }} </span>
            <p>Devuelta: ${{resultado | currency : " " : "symbol" : "3.0" }}</p>
            <label style="margin: 6px"
              >¿pagan con $$$?
              <input
                type="number"
                [(ngModel)]="valorRestado"
                (ngModelChange)="restarValor()"
              />
            </label>
            <div class="botones">
              <button
                (click)="onDialogHide()"
                style="
                  background-color: rgb(222, 73, 96);
                  padding: 1px 6px;
                  margin-bottom: 12px;
                "
                class="btn btn-success"
              >
                Cancelar
              </button>
              <button
                style="
                  background-color: rgb(31, 21, 239);
                  padding: 5px 10px;
                  margin-bottom: 12px;
                "
                class="btn btn-success"
              >
                Registrar
              </button>
            </div>
          </p-dialog>
        </div>
        <div>
          <button
            style="background-color: red; padding: 5px 19px"
            class="btn btn-danger"
          >
            Eliminar Productos
          </button>
        </div>
      </div>

      <table *ngIf="productos.length > 0" class="table">
        <thead>
          <th class="th">Mesa</th>
          <th class="th">Producto</th>
          <th class="th">Sabor(es)</th>
          <th class="th">Precio</th>
          <th class="th">Nota</th>
          <th class="th"></th>
        </thead>

        <tbody>
          <tr class="tr" *ngFor="let producto of productos">
            <td data-label="Mesa:" class="td">{{ producto.table }}</td>
            <td data-label="Producto:" class="td">{{ producto.product }}</td>
            <td data-label="Sabor(es):" class="td">
              {{ producto.flavor }}<br />{{ producto.flavor2 }}<br />{{
                producto.flavor3
              }}
            </td>
            <td data-label="Precio:" class="td">
              ${{ producto.price | currency : " " : "symbol" : "3.0" }}
            </td>
            <td data-label="Agregar Nota:" class="td">{{ producto.note }}</td>
            <td style="padding-left: 136px; border-bottom: 1px solid">
              <i
                class="fas fa-edit fa-lg text-info"
                [routerLink]="['/edit-product/', producto.id]"
              ></i>
              <i
                (click)="eliminarProducto(producto.id)"
                class="fas fa-trash-alt fa-lg text-danger mt-2"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


