.float{
  float: right;
  margin-bottom: 16px;
}
i{
  cursor: pointer;
}
.fas{
  margin-right: 12px;
}
.tabla{
  text-align: center;
}
.prod{
  margin: 6px;
}
.th{
  padding-left: 9px;
}
.tr{
  border-bottom: 1px solid;
}
.td{
  padding-left: 15px;
}
