<div>
  <div *ngFor="let producto of ajustes">
    <div>sabor 1:
      {{producto.sabor01}}
    </div>
    <div>sabor 2:
      {{producto.sabor02}}
    </div>
    <div>sabor 3:
      {{producto.sabor03}}
    </div>
    <div>sabor 4:
      {{producto.sabor04}}
    </div>
    <div>sabor 5:
      {{producto.sabor05}}
    </div>
    <div>sabor 6
      {{producto.sabor06}}
    </div>
    <div>sabor 7:
      {{producto.sabor07}}
    </div>
    <div>sabor 8:
      {{producto.sabor08}}
    </div>
    <div>sabor 9:
      {{producto.sabor09}}
    </div>
    <div>sabor 10:
      {{producto.sabor10}}
    </div>
    <div>sabor 11:
      {{producto.sabor11}}
    </div>
    <div>sabor 12:
      {{producto.sabor12}}
    </div>
    <div>
      <i class="fas fa-edit fa-lg text-danger" [routerLink]="['/adjust/',producto.id]"></i>
    </div>
  </div>
</div>
<!-- <table class="teibol">
  <thead>
    <tr>
      <th>sabor 1</th>
      <th>sabor 2</th>
      <th>sabor 3</th>
      <th>sabor 4</th>
      <th>sabor 5</th>
      <th>sabor 6</th>
      <th>sabor 7</th>
      <th>sabor 8</th>
      <th>sabor 9</th>
      <th>sabor 10</th>
      <th>sabor 11</th>
      <th>sabor 12</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of ajustes">
      <td>{{producto.sabor01}}</td>
      <td>{{producto.sabor02}}</td>
      <td>{{producto.sabor03}}</td>
      <td>{{producto.sabor04}}</td>
      <td>{{producto.sabor05}}</td>
      <td>{{producto.sabor06}}</td>
      <td>{{producto.sabor07}}</td>
      <td>{{producto.sabor08}}</td>
      <td>{{producto.sabor09}}</td>
      <td>{{producto.sabor10}}</td>
      <td>{{producto.sabor11}}</td>
      <td>{{producto.sabor12}}</td>

      <td>
        <i class="fas fa-edit fa-lg text-info" [routerLink]="['/adjust/',producto.id]"></i>
    </tr>


  </tbody>
</table> -->

<!-- <button class="btn btn-dark btn-lg" routerLink="/crear">Modo desarollador</button> -->
