<div>
  <div *ngFor="let producto of ajustes">
    <div *ngIf="producto.sabor01 !== ''; else elseBlock">sabor 1: {{ producto.sabor01}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor02 !== ''; else elseBlock">sabor 2:
      {{producto.sabor02}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor03 !== ''; else elseBlock">sabor 3:
      {{producto.sabor03}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor04 !== ''; else elseBlock">sabor 4:
      {{producto.sabor04}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor05 !== ''; else elseBlock">sabor 5:
      {{producto.sabor05}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor06 !== ''; else elseBlock">sabor 6
      {{producto.sabor06}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor07 !== ''; else elseBlock">sabor 7:
      {{producto.sabor07}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor08 !== ''; else elseBlock">sabor 8:
      {{producto.sabor08}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor09 !== ''; else elseBlock">sabor 9:
      {{producto.sabor09}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor10 !== ''; else elseBlock">sabor 10:
      {{producto.sabor10}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor11 !== ''; else elseBlock">sabor 11:
      {{producto.sabor11}}
    </div>
    <ng-template #elseBlock></ng-template>
    <div *ngIf="producto.sabor12 !== ''; else elseBlock">sabor 12:
      {{producto.sabor12}}
    </div>
    <div>
      <i class="fas fa-edit fa-lg text-danger" [routerLink]="['/adjust/',producto.id]"></i>
    </div>
    <button type="text" class="btn btn-secondary btn-lg mr-3" routerLink="/">Regresar</button>
  </div>
</div>
<!-- <table class="teibol">
  <thead>
    <tr>
      <th>sabor 1</th>
      <th>sabor 2</th>
      <th>sabor 3</th>
      <th>sabor 4</th>
      <th>sabor 5</th>
      <th>sabor 6</th>
      <th>sabor 7</th>
      <th>sabor 8</th>
      <th>sabor 9</th>
      <th>sabor 10</th>
      <th>sabor 11</th>
      <th>sabor 12</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of ajustes">
      <td>{{producto.sabor01}}</td>
      <td>{{producto.sabor02}}</td>
      <td>{{producto.sabor03}}</td>
      <td>{{producto.sabor04}}</td>
      <td>{{producto.sabor05}}</td>
      <td>{{producto.sabor06}}</td>
      <td>{{producto.sabor07}}</td>
      <td>{{producto.sabor08}}</td>
      <td>{{producto.sabor09}}</td>
      <td>{{producto.sabor10}}</td>
      <td>{{producto.sabor11}}</td>
      <td>{{producto.sabor12}}</td>

      <td>
        <i class="fas fa-edit fa-lg text-info" [routerLink]="['/adjust/',producto.id]"></i>
    </tr>


  </tbody>
</table> -->

<!-- <button class="btn btn-dark btn-lg" routerLink="/crear">Modo desarollador</button> -->
