/* You can add global styles to this file, and also import other style files */
body{
//   background: #FC354C;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background-image: url(../src/assets/fondo.jpeg);
// background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../src/assets/fondo.jpeg);

// background-repeat: no-repeat;
// background-position: center;
// background-size: cover;
// height: 100vh;
}
.modificar-modal .p-dialog{
    transform: scale3d(1.5, 1.5, 1.5);
    background-color: #a53dc7;
    display: flex;
    padding: 23px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7%;
    border-radius: 9px;
}
.modificar-modal .p-dialog-mask{
  align-items: baseline;
  background-color: #0000008c

}
.modificar-modal .p-dialog-content{
    position: relative;
    top: 20px;
}
